{% extends 'base.html.twig' %}

{% block title %}Planche{% endblock %}

{% block body %}
    <h1>Planche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planche.id }}</td>
            </tr>
            <tr>
                <th>NomPlanche</th>
                <td>{{ planche.nomPlanche }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ planche.createAt ? planche.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ planche.updatedAt ? planche.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planche_index') }}">back to list</a>

    <a href="{{ path('app_planche_edit', {'id': planche.id}) }}">edit</a>

    {{ include('planche/_delete_form.html.twig') }}
{% endblock %}
