{% extends 'base.html.twig' %}

{% block title %}TypeVente index{% endblock %}

{% block body %}
    <h1>TypeVente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomTypeVente</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_vente in type_ventes %}
            <tr>
                <td>{{ type_vente.id }}</td>
                <td>{{ type_vente.nomTypeVente }}</td>
                <td>{{ type_vente.createdAt ? type_vente.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_vente.updatedAt ? type_vente.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_type_vente_show', {'id': type_vente.id}) }}">show</a>
                    <a href="{{ path('app_type_vente_edit', {'id': type_vente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_vente_new') }}">Create new</a>
{% endblock %}
